streamlit==1.38.0
pdfplumber==0.11.4
spacy==3.7.5
sentence-transformers==3.0.1
scikit-learn==1.5.1
pandas==2.2.2
google-generativeai==0.7.2
python-dateutil==2.9.0
python-dotenv==1.0.1
faiss-cpu==1.8.0
